/**
 * Navigation Layer - Function Keys and Navigation
 * Accessed via ESC hold - provides full F1-F12 keys and arrow navigation
 * HJKL vim-style arrows with additional navigation and media controls
 */

/ {
  keymap {
    compatible = "zmk,keymap";

    navigation_layer {
      display-name = "Nav";
      bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
// │0   ~          │1   F1         │2   F2         │3   F3         │4   F4         │5   F5         │   │6   F6         │7   F7         │8   F8         │9   F9         │10  F10        │11  DEL        │
    &trans          &kp F1          &kp F2          &kp F3          &kp F4          &kp F5              &kp F6          &kp F7          &kp F8          &kp F9          &kp F10         &kp DEL
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
// │12  ESC        │13  F11        │14  F12        │15  INSERT     │16  HOME       │17  PG_UP      │   │18  LEFT       │19  DOWN       │20  UP         │21  RIGHT      │22  END        │23             │
    &trans          &kp F11         &kp F12         &kp INS         &kp HOME        &kp PG_UP           &kp LEFT        &kp DOWN        &kp UP          &kp RIGHT       &kp END         &trans
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
// │24             │25  VOL_DN     │26  VOL_UP     │27  MUTE       │28  PLAY       │29  PG_DN      │   │30  C_PREV     │31  C_NEXT     │32  BRI_DN     │33  BRI_UP     │34             │35             │
    &trans          &kp C_VOL_DN    &kp C_VOL_UP    &kp C_MUTE      &kp C_PP        &kp PG_DN           &kp C_PREV      &kp C_NEXT      &kp C_BRI_DN    &kp C_BRI_UP    &trans          &trans
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
//                                                 │36             │37             │38             │   │39             │40             │41             │
                                                    &trans          &trans          &trans              &trans          &trans          &trans
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
      >;
    };
  };
};